# Snowflake connection
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ACCOUNT=your_account_identifier

# Snowflake compute
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# Database settings
SNOWFLAKE_DATABASE=LEARNING_DB
SNOWFLAKE_SCHEMA=PUBLIC

# Optional
SNOWFLAKE_ROLE=ACCOUNTADMIN


# Datasource link
https://huggingface.co/datasets/electricsheepafrica/africa-synth-retail-and-ecommerce-competitor-pricing-datasets-nigeria
